.wrapper {

    width: 1220px;
    margin-left: auto;
    margin-right: auto;

}

header .wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 40px;


}

header a {

    text-decoration: none;
    display: flex;
    align-content: center;

}