.wrapper {

    width: 1220px;
    margin-left: auto;
    margin-right: auto;

}

header .wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {

    font-size: 40px;

}

header a {

    text-decoration: none;
    display: flex;
    align-content: center;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;

}

header ul {

    list-style-type: none;
    display: flex;

}

header li {

    margin-left: 30px;

}

header img {

    margin-right: 30px;

}

.hero {

    padding-top: 134px;
    padding-bottom: 134px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.hero .texte {

    padding: 40px;
    margin-left: 272px;
    margin-right: 272px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);

}

h1 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;

}

h2 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: white;

}

header {

    padding-top: 20px;
    padding-bottom: 15px;

}