.wrapper {

    width: 1220px;
    margin-left: auto;
    margin-right: auto;

}

header .wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {

    font-size: 40px;


}

header a {

    text-decoration: none;
    display: flex;
    align-content: center;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;

}

header ul {

    list-style-type: none;
    display: flex;

}

header li {

    margin-left: 30px;

}

header img {

    margin-right: 30px;

}