body {

    background-color: #EEEEEE;

}

.wrapper {

    width: 1280px;
    margin-left: auto;
    margin-right: auto;

}

header .wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {

    font-size: 40px;

}

header a {

    text-decoration: none;
    display: flex;
    align-content: center;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;

}

header ul {

    list-style-type: none;
    display: flex;

}

header li {

    margin-left: 21px;

}

header img {

    margin-right: 30px;

}

header li a:hover {

    color: white;
    background-color: #0E5EA1;
    border-radius: 5px;


}

.hero {

    padding-top: 134px;
    padding-bottom: 134px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

header {

    padding-top: 20px;
    padding-bottom: 15px;
    background-color: white;

}

.hero .texte {

    padding: 40px;
    margin-left: 272px;
    margin-right: 272px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

h1 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;

}

h2 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: white;

}


.articles {

    display: grid;
    grid-template-columns: 407px 407px 407px;
    gap: 30px;
    margin-bottom: 80px;

}

.articles article {

    background-color: white;
    padding: 20px;
    height: auto;
    border-bottom: 5px solid #0E5EA1;

}

.articles article .bouton {

    text-align: center;

}

.articles article .bouton a {

    text-decoration: none;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: black;
    background-color: #B7B7B7;
    font-family: "Dosis", sans-serif;
    font-weight: 700;

}

.articles article p {

    height: 100px;

}

.articles article .bouton a:hover {

    background-color: #0E5EA1;
    color: white;

}

h3 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #0E5EA1;

}

h4 {

    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 24px;

}

p {

    font-family: "Roboto", sans-serif;

}